<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css" />
<style>
  .k-icon-32 {
    font-size: 32px;
    /* Sets icon size to 32px */
  }

  .k-icon-48 {
    font-size: 48px;
    /* Sets icon size to 48px */
  }

  .k-icon-64 {
    font-size: 64px;
    /* Sets icon size to 64px */
  }

 
</style>

<h1>Hello This is Dev Sagar</h1>
<!-- <kendo-calendar></kendo-calendar> -->

<kendo-dropdownlist [data]="dropDownItems" [defaultItem]="defaultItem" textField="text" valueField="value"
  (valueChange)="handleFilterChange($event)" [style.width.px]="170">
</kendo-dropdownlist>
<br>
<br>



<kendo-grid [data]="gridItems | async" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
  (pageChange)="pageChange($event)" [sortable]="true" [sort]="sortDescriptor" (sortChange)="handleSortChange($event)"
  [height]="400">
  <kendo-grid-column field="ProductID" title="ID"></kendo-grid-column>
  <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Category"></kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Unit Price" format="{0:c}"></kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="Unit Stock"></kendo-grid-column>
  <kendo-grid-column field="Discontinued" filter="boolean">
    <ng-template kendoGridCellTemplate let-dataItem>
      <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<h1>Button</h1>
<kendo-dropdownbutton [data]="dropDownItems"> Category </kendo-dropdownbutton>
<button kendoButton [svgIcon]="svgCart">Cart</button>
<button kendoButton [svgIcon]="svgCode">Code</button>
<button kendoButton icon="check">OK</button>
<span class="k-icon k-font-icon k-i-gear"></span>
<span class="k-icon k-font-icon k-i-gear k-icon-32"></span>
<span class="k-icon k-font-icon k-i-gear k-icon-48"></span>
<span class="k-icon k-font-icon k-i-gear k-icon-64"></span>

<h1>Toggle Button</h1>
<button kendoButton (selectedChange)="onSelectedChange($event)" themeColor="primary" [toggleable]="true">
  Petrol
</button>

<button kendoButton (selectedChange)="onSelectedChange($event)" [toggleable]="true">
  Diesel
</button>

<button kendoButton fillMode="flat" themeColor="primary" [toggleable]="true">
  Petrol
</button>
<button kendoButton fillMode="flat" [toggleable]="true" kendoTooltip title="Tooltip content">
  Tooltip
</button>

<button kendoButton fillMode="outline" themeColor="primary" [toggleable]="true">
  Petrol
</button>
<button kendoButton fillMode="outline" [toggleable]="true">
  Diesel
</button>

<!-- Button Group -->
<h1>Button Group</h1>
<kendo-buttongroup>
  <button kendoButton [toggleable]="true">Button 1</button>
  <button kendoButton [toggleable]="true">Button 2</button>
  <button kendoButton [toggleable]="true">Button 3</button>
</kendo-buttongroup>

<kendo-buttongroup selection="single">
  <button kendoButton [svgIcon]="svgRight" [toggleable]="true"></button>
  <button kendoButton [svgIcon]="svgCenter" [toggleable]="true"></button>
  <button kendoButton [svgIcon]="svgLeft" [toggleable]="true"></button>
  <button kendoButton [svgIcon]="svgJustify" [toggleable]="true"></button>
</kendo-buttongroup>

<p>Date</p>
<p>{{date}}</p>

@if (!opened) {
<button kendoButton (click)="open()">Open dialog</button>
} @if (opened) {
<kendo-dialog title="Please confirm" (close)="close()" [minWidth]="350" [width]="450">
  <p style="margin: 30px; text-align: center;">
    Are you sure you want to continue?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="close()" title="No">No</button>
    <button kendoButton (click)="close()" themeColor="success" title="Yes">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>
}

<p>Gauge</p>

<div class="col-sm-12 col-md-3">
  <kendo-circulargauge [value]="gaugeValue">
    <ng-template kendoCircularGaugeCenterTemplate let-value="value">
      {{ gaugeValue }}
    </ng-template>
  </kendo-circulargauge>
</div>


<p>Upload file</p>
<kendo-upload [restrictions]="RestrictionFile"> </kendo-upload>
 
<router-outlet />