<div class="k-card k-card-flat k-card-border k-shadow-md form-container">
    <div class="k-card-header" style="justify-content: center;display: flex;">
        <p class="k-card-title" style="font-size: 20px;"><b>Create User</b></p>
    </div>

    <div class="k-card-body">
        <form (ngSubmit)="createUser()" #userForm="ngForm" class="k-form k-form-vertical">
            <kendo-formfield>
                <kendo-label text="Username"></kendo-label>
                <kendo-textbox [(ngModel)]="user.username" name="username" required></kendo-textbox>
                <kendo-formerror *ngIf="userForm.submitted && !user.username">Username is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label text="Email"></kendo-label>
                <kendo-textbox  [(ngModel)]="user.email" name="email" required></kendo-textbox>
                <kendo-formerror *ngIf="userForm.submitted && !user.email">Email is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label text="Password"></kendo-label>
                <kendo-textbox [(ngModel)]="user.password" name="password" type="password" required></kendo-textbox>
                <kendo-formerror *ngIf="userForm.submitted && !user.password">Password is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label text="Address"></kendo-label>
                <kendo-textarea [(ngModel)]="user.address" name="address" [rows]="3" required></kendo-textarea>
                <kendo-formerror *ngIf="userForm.submitted && !user.address">Address is required</kendo-formerror>
            </kendo-formfield>

            <div class="k-form-buttons">
                <button kendoButton type="submit" themeColor="info">Register</button>
                <a (click)="navigateToLogin()" themeColor="primary" fillMode="flat" style="cursor: pointer; text-decoration: underline; color: rgb(73, 73, 224);">Login if already user !!</a>
            </div>
        </form>
    </div>
</div>