<p
  style="margin: 30px; text-align: center; background-color: rgb(168, 96, 236); color: aliceblue; padding: 5px; border-radius: 5px;">
  <b>{{title}}</b>
</p>

<button style="margin: 10px;" kendoButton themeColor="info" [svgIcon]="svgPlus" [toggleable]="true"
  (click)="navigateToRegisterUser()">Add User</button>

<div class="loading-overlay" *ngIf="loading">
  <kendo-loader [themeColor]="'info'" size="large" type="converging-spinner"></kendo-loader>
</div>


<kendo-grid [data]="gridItems" [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"
  [sortable]="true" [sort]="sortDescriptor" (sortChange)="handleSortChange($event)" *ngIf="!loading">

  <kendo-grid-column title="Sr. No." [width]="100">
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
      {{ skip + rowIndex + 1 }}
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="username" title="Name">
  </kendo-grid-column>

  <kendo-grid-column field="password" title="Password">
  </kendo-grid-column>

  <kendo-grid-column field="email" title="Email">
  </kendo-grid-column>

  <kendo-grid-column field="address" title="Address">
  </kendo-grid-column>

  <kendo-grid-column title="Action" [width]="120">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button kendoButton [svgIcon]="svgTransh" (click)="openDialog(dataItem.userid)" kendoTooltip title="Delete"
        position="left" themeColor="primary"></button> |
      <button kendoButton [svgIcon]="svgPencil" (click)="openEditDialog(dataItem.userid)" kendoTooltip title="Edit"
        position="right" themeColor="info"></button>
    </ng-template>
  </kendo-grid-column>

</kendo-grid>
<kendo-dialog *ngIf="opened" title="Delete User" (close)="closeDialog()" [minWidth]="350" [width]="450">
  <p style="margin: 30px; text-align: center;"><b>Are you sure you want to delete?</b></p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialog()" title="No">Cancle</button>
    <button kendoButton (click)="deleteUser()" themeColor="error" title="Yes">Delete</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog *ngIf="editDialogopen" title="Edit User" (close)="closeEditDialog()" [minWidth]="350" [width]="450">
  <div class="k-form k-form-horizontal" style="margin: 30px;">
    <kendo-label text="Username"></kendo-label>
    <kendo-textbox type="text" [(ngModel)]="user.username" name="username"></kendo-textbox>
  </div>
  <div style="margin: 30px;">
    <kendo-label text="Password"></kendo-label>
    <kendo-textbox type="password" [(ngModel)]="user.password" name="password"></kendo-textbox>
  </div>
  <div style="margin: 30px;">
    <kendo-label text="Email"></kendo-label>
    <kendo-textbox [(ngModel)]="user.email" name="email"></kendo-textbox>
  </div>
  <div style="margin: 30px;">
    <kendo-label text="Address"></kendo-label>
    <kendo-textbox type="text" [(ngModel)]="user.address" name="address"></kendo-textbox>
  </div>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeEditDialog()" title="No">Cancle</button>
    <button kendoButton (click)="UpdateUser()" themeColor="info" title="Yes">Update</button>
  </kendo-dialog-actions>
</kendo-dialog>

<!-- address 
email 
password 
username  -->